/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 426px) {
  .sign-up .form-box {
    margin-top: calc(50vh - 200px);
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 426px) and (max-width: 769px) {
  .sign-up .form-box {
    margin-top: calc(50vh - 200px);
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 769px) {
  .sign-up .form-box {
    margin-top: calc(50vh - 200px);
  }
}
