@media only screen and (max-width: 450px) {
  .header {
    .header__search {
      width: 118px;
      height: 29px;
    }

    .header__logo {
      width: 45px;
      height: 45px;

      img {
        border-radius: 4px;
        width: 40px;
        height: 40px;
      }
    }

    .header__login {
      margin: 0 0 0 15px;
    }
  }
}

@media only screen and (max-width: 760px) {
  .header {

  }
}